@model IEnumerable<Survey>

@{
     ViewData["Title"] = "Settings";
    Layout = "_dashLayout";
}

<div class="text-center"> 

    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h1>Settings</h1>
                        <hr />

                        @{
                            foreach(var i in Model)
                            {
                                <h1>@i.SurveyName</h1>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>