@model AnalyticsViewModel

@{
    ViewData["Title"] = "Embedded Analytics";
    Layout = "_dashLayout";
}

<div class="text-center">

    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h1>Survey Data Reports</h1>
                        <hr />
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row column1">
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>Surveys And Summaries</h2>
                            </div>
                        </div>
                        <div class="full price_table padding_infor_info">
                            <div class="row">
                                <!-- column contact -->
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                    <div class="contact_blog">
                                        <h4 class="brief">Number of Surveys</h4>
                                        <div class="contact_inner">

                                        </div>
                                    </div>
                                </div>
                                <!-- end column contact blog -->
                                <!-- column contact -->
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                    <div class="contact_blog">
                                        <h4 class="brief">Number of Quesions</h4>
                                        <div class="contact_inner">


                                        </div>
                                    </div>
                                </div>

                                <!-- column contact -->
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                    <div class="contact_blog">
                                        <h4 class="brief">Options per Question</h4>
                                        <div class="contact_inner">
                                           
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- footer -->
            <div class="container-fluid">
                <div class="row">
                    <div class="footer">
                        <p>Department of Computer Science Copyright - @System.DateTime.Now.Year. All rights reserved.
                        </p>
                        <p>
                            &copy;DIRAP - IIS - UFS - <span><a asp-area="" asp-controller="Home"
                                    asp-action="Privacy">Privacy</a></span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- end dashboard inner -->
        </div>
    </div>
</div>
