@model SurveyViewModel

@{
     ViewData["Title"] = "Edit Survey";
    Layout = "_dashLayout";
}

<div class="text-center"> 

    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h1>Surveys</h1>
                        <hr />
                    </div>
                </div>
            </div>
   
            <div class="row column1">
                <div class="col-sm-12" >
                    <form asp-action="Edit" method="post">
                    
                        <div class="col-sm-8" style="margin: 0 auto; float; none;">    
                        
                            <h1>Edit Survey</h1>  
                            <hr /><br />             
                       
                            <div asp-validation-summary="All"></div>

                            <input asp-for="SurveyID" type="hidden" />
                                    
                            <div class="form-group">
                                <label asp-for="SurveyName" class="label_field">Survey Name</label>
                                <div><span asp-validation-for="SurveyName" class="text-danger"></span></div>
                                <input asp-for="SurveyName" class="form-control" />                
                            </div>

                            <div class="form-group">  
                                <label asp-for="AccountID">User Accounts</label> 
                                <div><span asp-validation-for="AccountID" class="text-danger"></span></div>    
                                <select class="form-control" name="AccountID" asp-for="AccountID" asp-items="Model.AccountsSelect">
                                    <option value="AccountID">User Account</option>
                                </select> 
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Save Survey</button>
                                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                            </div> 

                        </div>                        

                    </form>
                </div>
            </div>

            <div class="row column1 mt-4">
                <div class="col-sm-10" style="margin: 0 auto; float; none;" >
                      <h1> Available Surveys</h1>
                        <hr />
                </div>
             </div>
        </div>
    </div>
</div>






    
