@model LoginModel
@{
    Layout="";
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
    <head>
         <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="~/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="~/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="~/css/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="~/css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="~/css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="~/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="~/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="~/css/custom.css" />
      <link rel="stylesheet" href="~/css/font-awesome.min.css" />

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" />
    </head>
    <body class="inner_page login">
       
        <div class="full_container">
            <div class="container">
                <div class="center verticle_center full_height">
                <div class="login_section">
                    <div class="logo_login">
                        <div class="center">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img width="210" style="max-width:100%;" src="~/images/logo/logo.png" class="img-responsive" alt="#" />
                                </div>
                                <div class="col-sm-6 mt-4">
                                    <h4 style="color: #ccc; ">Research Data</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="login_form">
                        <form asp-action="Login" asp-controller="UserAccount" method="post">

                            <div class="row">
                                <div class="col-sm-6 text-danger text-center center" style="margin: 0 auto; float: none;">
                                    <span asp-validation-for="Email"></span>
                                    <span asp-validation-for="Password"></span>
                                    <hr />
                                </div>
                            </div>
                            
                            <input type="hidden" asp-for="ReturnUrl" />
                            <h3 class="h3">Login</h3> 

                            <fieldset>
                                <div class="field">                                        
                                        <label asp-for="Email" class="label_field">
                                            Email Address 
                                        </label>                                        
                                        <input asp-for="Email" type="email"  name="email" placeholder="E-mail" />
                                </div>
                                <div class="field">

                                        <label  asp-for="Password" class="label_field">
                                            Password </span>
                                        </label>                                        
                                        <input  asp-for="Password" type="password" name="password" placeholder="Password" />
                                </div>
                                <div class="field">
                                    <label class="label_field hidden">hidden label</label>
                                    <label class="form-check-label"><input type="checkbox" class="form-check-input"> Remember Me</label>
                                    <a class="forgot" href="#">Forgotten Password?</a>
                                </div>
                                <div class="field margin_0 form-group">
                                    <label class="label_field hidden">hidden label</label>
                                    <button class="btn btn-primary" type="submit">Sing In</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
   

         <!-- jQuery -->
      <script src="~/js/jquery.min.js"></script>
      <script src="~/js/popper.min.js"></script>
      <script src="~/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="~/js/animate.js"></script>
      <!-- select country -->
      <script src="~/js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="~/js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="~/js/Chart.min.js"></script>
      <script src="~/js/Chart.bundle.min.js"></script>
      <script src="~/js/utils.js"></script>
      <script src="~/js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="~/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="~/js/custom.js"></script>
      <script src="~/js/chart_custom_style1.js"></script>

      <script src="~/js/site.js" asp-append-version="true"></script>
      
    </body>
 </html>
 