@model BaseViewModel

@{
     ViewData["Title"] = "About";
    Layout = "_dashLayout";
}

<div class="text-center"> 

    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h1>About</h1>
                        <hr />
                    </div>
                </div>
            </div>
   
            <div class="row column1">
                <div class="col-sm-6 offset-sm-6 center" style="margin: 0 auto; float; none;">
                    <div class="jumbotron">
                        <h5 class="">
                            All data sources used in this application belongs to DIRAP - IIS
                        </h5>
                        <h6>
                            Working on a live Evasys system and a sandbox environment for storing data. 
                            Under the supervision of <span style=""><a href="~/Home/Contact">Jacq</a></span> and <span><a href="~/Home/Contact">Evan</a></span>.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

