
@{
     ViewData["Title"] = "Contact";
    Layout = "_dashLayout";
}

<div class="text-center"> 

     <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h1>Contacts</h1>
                              <hr />
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column1">
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              
                              <div class="full price_table padding_infor_info">
                                 <div class="row">
                                    <!-- column contact --> 
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                       <div class="contact_blog">
                                          <h4 class="brief">IIS Staff</h4>
                                          <div class="contact_inner">
                                            
                                                <h3>Evan Witten</h3>
                                                <p><strong>About: </strong>ODS & Dashboard Manager</p>
                                                <ul class="list-unstyled">
                                                   <li><i class="fa fa-envelope-o"></i> : wittenec@ufs.ac.za</li>
                                                   <li><i class="fa fa-phone"></i> : 051 401 7649</li>
                                                </ul>
                                             
                                            
                                          </div>
                                       </div>
                                    </div>
                                    <!-- end column contact blog -->
                                    <!-- column contact --> 
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                       <div class="contact_blog">
                                          <h4 class="brief">MIR Staff</h4>
                                          <div class="contact_inner">
                                             
                                                <h3>Enna Moroeroe</h3>
                                                <p><strong>About: </strong>Researcher and EvaSys Admin</p>
                                                <ul class="list-unstyled">
                                                   <li><i class="fa fa-envelope-o"></i> : moroeroeem@ufs.ac.za</li>
                                                   <li><i class="fa fa-phone"></i> : 051 401 7644</li>
                                                </ul>
                                                                                
                                          </div>
                                       </div>
                                    </div>

                                     <!-- column contact --> 
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                       <div class="contact_blog">
                                          <h4 class="brief">Research Assistant</h4>
                                          <div class="contact_inner">                                             
                                                <h3>Sthembiso Malindisa</h3>
                                                <p><strong>About: </strong>BI Developer</p>
                                                <ul class="list-unstyled">
                                                   <li><i class="fa fa-envelope-o"></i> : malindisas@ufs.ac.za</li>
                                                   <li><i class="fa fa-phone"></i> : 081 710 5258</li>
                                                </ul>                                                                                
                                          </div>
                                       </div>
                                    </div>
                                   
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end row -->
                     </div>
                     <!-- footer -->
                     <div class="container-fluid">
                        <div class="row">
                           <div class="footer">
                              <p>Department of Computer Science Copyright - @System.DateTime.Now.Year. All rights reserved.</p>
                                <p>
                                    &copy;DIRAP - IIS - UFS - <span><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
                                </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- end dashboard inner -->
               </div>

  
</div>