@{
    ViewData["Title"] = "Privacy Documents";
    Layout = "_dashLayout";
}

<div class="text-center"> 

    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h1>@ViewData["Title"]</h1>
                        <hr />
                    </div>
                </div>
            </div>

            <div class="row column1 text-center">
                
                <div class="col-md-8 offset-sm-4 center_c" style="margin: 0 auto; float; none;">
                    <div class="jumbotron">
                        <h4><a href="#">Department of Computer Science and Informatics.</a></h4>
                        <hr />
                        <h4><a href="#">UFS - DIRAP - IIS - 2022</a></h4>
                        <hr />
                        <h4><a href="https://popia.co.za/" target="_blank">POPIA Compliance</a></h4>
                    </div>
                </div>
               
            </div>  
        </div>
    </div>

    
</div>